footer{
    width: 100%;
    justify-content: space-between;
    padding: 2rem;
    background: #EFF0F5;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    .f-top{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1024px) {
    footer{
        .f-top{
            gap: 1rem;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 670px) {
    footer{
        .f-top{
            align-items: start;
            nav{
                flex-direction: column;
            }
        }
    }
}