* {
  box-sizing: border-box;
}

body{
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, input {
  color: #404545;
  font-weight: bold;
}

p, a, label {
  color: #9D9D9D;
}

.container{
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 4rem;
  align-items: center;
}

article{

}